<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>My Portfolio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	 <div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">WELCOME</h2>
    <div class="section-box">
        <p>Hi, I'm <strong>Navdha Talwar</strong>, a dedicated software developer with expertise in creating full-stack web applications using Java and modern frameworks.
        Browse through this site to learn more about my projects and experience in this domain!</p>
        
        
        
        
        
        
        
        
        
    
    </div>
</body>
</html>